
/* Custom Typography
================================= */
body {
	padding-top: 80px;
}

h1 {
	font-weight: 200;
	margin-bottom: 30px;
}


p, li {
	line-height: 1.7;
	font-size: 1.1em;
	letter-spacing: .016em;
}


.lead {
	margin-bottom: 25px;
}

.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}



/* Custom Section Containers
================================= */

.section-wrapper-intro {
  background: url("../img/background.jpg")no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 50px 50px;
}

.row-intro {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-wrapper-white {
	background: #fff;
	padding: 50px 0;
}

.section-wrapper-color {
	background: #fff9f5;
	padding-top: 50px 0;
}

.footer-navbar {
	position: relative;
	min-height: 80px;
	background-color: #555;
	color:white;
	text-align: center;
}


/* Footer
================================= */

.footer {
	line-height: 1.7;
	font-size: 1em;
	letter-spacing: .016em;
	padding-top: 20px;
}

/* Instagram Feed
================================= */

#instagram-feed {
	padding-top: 100px;
	background: #fff9f5;
}

#instafeed a {
  display: block;
  float: left;
	width: calc((100% - 30px)/3);
  position: relative;
	margin: 5px 5px 40px 5px;
	text-align: center;
	line-height: 1.7em;
	font-size: 1.2em;
	letter-spacing: .016em;
	padding: 0 5px;
	text-decoration: none;
}

#instafeed a img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

	}

img, picture {
    margin: 0;
    max-width: 100%;
}

#instafeed::after {
    clear: both;
    content: "";
    display: table;
}


@media (max-width: 960px) {
	#instafeed a{
		min-height: 20%;
		width: calc((100% - 30px)/3);
}
}

@media (max-width: 760px) {
	#instafeed a{
		min-height: 25%;
		width: calc((100% - 20px)/2);
	}
}

@media (max-width: 420px) {
	#instafeed a{
		min-height: 25%;
		width: calc((100% - 10px)/1);

	}
}


/* Custom Form
================================= */

form {
	background-color: #ffede1;
	padding: 20px 15px;
}



/* Custom Buttons
================================= */

.btn-default {
	border-color: inherit;
	margin-right: 15px;
	padding: 12px 22px;
}

.btn-default:hover {
	background-color:#f9aa89;
	border-color: #f9aa89;
	color: #fff;
	transition: .35s;
}

/* Logos & Icons
================================= */

.main-logo {
	width: 200px;
	height: 50px;
	margin-top: 20px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.svg') no-repeat;
	background-size: 100%;
}


/* Media Queries
================================= */

@media (max-width: 760px) {

	.main-logo {
		margin-left: 20px;
	}

}
